@model PasswordResetViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/MinimalLayout.cshtml";
    Bundles.Reference("content/css/chocolatey.bundle.min.css");
    Bundles.Reference("Scripts/main");
    Bundles.Reference("Scripts/validation");
}

<h3 class="text-center">Forgot Password</h3>
<p class="mb-0"><small>We are sorry to hear you forgot your password. Enter your email below and we will send instructions to reset your password.</small></p>
<hr class="mb-0" />
@using (Html.BeginForm())
{
    <fieldset class="form">
        <legend class="d-none">Register Form</legend>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="mt-3">
            @Html.LabelFor(m => m.NewPassword) <span class="fas fa-asterisk text-primary small"></span>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control mt-2" })
            <div class="form-text">Passwords must be at least 7 characters long.</div>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="mt-3">
            @Html.LabelFor(m => m.ConfirmPassword) <span class="fas fa-asterisk text-primary small"></span>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mt-2" })
            <div class="form-text">Please reenter your password and ensure that it matches the one above.</div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <input class="btn btn-primary mx-auto mt-3 d-block" type="submit" value="Send" title="Send Instructions" />
        <p class="mb-0 mt-2 text-center"><small><a class="cancel" href="@Url.LogOn()" title="Cancel Changes and go back.">Cancel</a></small></p>
    </fieldset>
}