@* Generator : WebPage *@
@using NuGetGallery
@{
    string commitId = System.Configuration.ConfigurationManager.AppSettings["appharbor.commit_id"];
    string worker = System.Configuration.ConfigurationManager.AppSettings["appharbor.worker_name"];
}
<!DOCTYPE html> 
<html lang="en" class="static "> 
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chocolatey Software</title> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,700">
        <link href="@Href("~/content/css/chocolatey.bundle.min.css")" rel="stylesheet" />
        <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
        <script>
            if(!/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
                const theme = localStorage.getItem('theme'), html = document.getElementsByTagName("html")[0];
                if(theme){if(theme == 'dark') {html.setAttribute("data-user-color-scheme", "dark");}else{html.setAttribute("data-user-color-scheme", "light");}}
            }
        </script>
    </head>
    <body class="chocolatey-org">
        <header></header>
        <main class="my-auto">
            <section class="container py-3 py-md-5">
                <div class="row">
                    @RenderBody()
                </div>
            </section>
        </main>
        <footer class="bg-theme-light border-top p-3 text-center">
            <span class="small">
                <span>&copy; @DateTime.UtcNow.Year Chocolatey Software, Inc.</span><br />
                <span class="text-bg-theme-light">Deployed from <a class="text-reset" href="https://github.com/chocolatey/chocolatey.org/commit/@commitId" title="View the commit.">@commitId.Substring(0, 10)</a>. You are on @worker. Page generated @DateTime.UtcNow.ToString("dd MMM yyyy HH:mm:ss") +00:00.</span>
            </span>
        </footer>
        <script src="@Href("~/Scripts/main/chocolatey.bundle.min.js")"></script>
        @RenderSection("BottomScripts", required: false)
    </body>
</html>