<ul class="nav fw-bold justify-content-center align-items-center text-center border-bottom small lh-sm">
    @if (ViewContext.RouteData.Values["Action"].Equals("DisplayPackage"))
    {
        <li class="nav-item">
            <a class="nav-link" href="@Url.RouteUrl(RouteName.ListPackages)">
                <span class="fas fa-download" alt="Packages"></span>
                <p class="mb-0">Packages</p>
            </a>
        </li>
    }
    <li class="nav-item user-unauthenticated">
        <a class="nav-link" href="@Url.Action(MVC.Users.Register())">
            <span class="fas fa-user-plus" alt="Signup"></span>
            <p class="mb-0">Signup</p>
        </a>
    </li>
    <li class="nav-item user-unauthenticated">
        <a class="nav-link" href="@Url.LogOn()">
            <span class="fas fa-sign-in-alt" alt="Login"></span>
            <p class="mb-0">Login</p>
        </a>
    </li>
    <li class="nav-item user-authenticated">
        <a class="nav-link" href="@Url.Action(MVC.Users.Account())">
            <span class="fas fa-cogs" alt="Account"></span>
            <p class="mb-0">Account</p>
        </a>
    </li>
    <li class="nav-item user-authenticated">
        <a class="nav-link" href="@Url.Action(MVC.Users.Profiles(User.Identity.Name))">
            <span class="fas fa-user-alt" alt="Profile"></span>
            <p class="mb-0">Profile</p>
        </a>
    </li>
    <li class="nav-item user-authenticated">
        @using (Html.BeginForm("LogOff", "Authentication", FormMethod.Post))
        {
            <fieldset class="form nav-link">
                @Html.AntiForgeryToken()
                <button class="btn btn-link align-items-center p-0 text-decoration-none fs-6" type="submit">
                    <span class="fas fa-sign-out-alt lh-sm" alt="Log Off"></span>
                    <p class="mb-0 fw-bold small lh-sm mt-n1">Log Off</p>
                </button>
            </fieldset>
        }
    </li>
</ul>