<section class="bg-theme-primary-light fw-bold border-top py-5 text-center text-md-start">
    <div class="container">
        <div class="row row-divider row-md-divider-none ">
            <div class="col-md-3 pb-3 pb-md-0">
                <h4>Overview</h4>
                <ul class="list-unstyled mb-0">
                    <li><a href="@Url.RouteUrl(RouteName.About)">About</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Courses)">Getting Started Guide</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.WhyChocolatey)">Why Chocolatey</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.HowChocolateyWorks)">How Chocolatey Works</a></li>
                    <li><a href="https://docs.chocolatey.org/en-us/information/security">Security</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Privacy)">Privacy Policy</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Kickstarter)">Kickstarter</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Partner)">Partner</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "success-stories"})">Customer Stories</a></li>
                </ul>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <h4>Product</h4>
                <ul class="list-unstyled mb-0">
                    <li><a href="@Url.RouteUrl(RouteName.Solutions, new {solutionName = "home"})">Solution: Self-Service Anywhere</a></li>
                    <li><a href="https://docs.chocolatey.org/en-us/quick-deployment/">Solution: Quick Deployment Environment (QDE)</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Solutions, new {solutionName = "secure-offline-deployments"})">Solution: Secure Offline Deployments</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Products, new {productName = "chocolatey-for-business"})">Chocolatey for Business</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Products, new {productName = "home"})#pro-edition">Pro Edition</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Products, new {productName = "home"})#foss">Open Source</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.ContactTrial)">C4B Trial</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Pricing)">Pricing</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Support)">Support</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.ListPackages)">Community Packages</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Events, new { eventName = "home" })">Events</a></li>
                </ul>
            </div>
            <div class="col-md-3 py-3 py-md-0">
                <h4>Learn</h4>
                <ul class="list-unstyled mb-0">
                    <li><a href="@Url.RouteUrl(RouteName.Resources)">Resource Library</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Events, new { eventName = "home" })">Events</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Covid19)">COVID-19 Resources</a></li>
                    <li><a href="https://docs.chocolatey.org/en-us/">Docs</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "videos"})">Videos</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Resources, new {resourceType = "case-studies"})">Case Studies</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Courses)">Courses</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.MediaKit)">Media Kit</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Sitemap)">Sitemap</a></li>
                    <li class="d-flex">
                        <a class="me-2" href="https://blog.chocolatey.org/">Blog</a>
                        <a href="http://feeds.feedburner.com/ChocolateyBlog" rel="alternate" type="application/rss+xml" target="_blank" aria-label="Connect with Chocolatey on pur Blog RSS feed">
                            <div class="bg-rss circle circle-sm" aria-hidden="true">
                                <i class="fas fa-rss"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 pt-3 pt-md-0">
                <h4>Connect</h4>
                <ul class="list-unstyled mb-0">
                    <li><a href="@Url.RouteUrl(RouteName.ContactUs)">Contact Us</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Support)">Support</a></li>
                    <li><a href="http://eepurl.com/4qUJH">Newsletter</a></li>
                    <li><a href="http://cafepress.com/chocolatey">Shop</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.ReportIssue)">Report a Bug</a></li>
                    <li><a href="https://status.chocolatey.org">Status</a></li>
                    <li><a href="@Url.RouteUrl(RouteName.Careers)">Careers</a></li>
                    <li class="pt-3">
                        @Html.Partial("~/Views/GlobalPartials/_socialmedia.cshtml")
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>