@using NuGetGallery

<script type="text/javascript" src="https://secure.make6pain.com/js/194108.js"></script>
<noscript><img alt="" src="https://secure.make6pain.com/194108.png" style="display:none;" /></noscript>

@Html.Partial("~/Views/GlobalPartials/_svgstyles.cshtml")
@Html.Partial("~/Views/Pages/_CollapsingRightSidebar.cshtml")
<header class="mb-xl-0">
    @Html.Partial("~/Views/Shared/_AlertTop.cshtml")
    <div class="d-none d-sm-flex">
        @Html.Partial("~/Views/GlobalPartials/_globalnavigation.cshtml")
    </div>
    <nav id="topNav" class="navbar navbar-expand-md align-items-md-start align-items-xl-center">
        <a class="navbar-brand mx-0" href="/">
            <img class="d-md-none" src="@Url.Content("~/content/images/global-shared/logo.svg")" alt="Chocolatey" />
            <img class="d-none d-md-block" src="@Url.Content("~/content/images/global-shared/logo-square.svg")" alt="Chocolatey" />
        </a>
        <div class="d-flex flex-column flex-fill flex-xl-row">
            <div class="d-flex flex-row order-1 align-items-center order-xl-2 ms-auto navbar-links mt-xl-0">
                <label class="mb-0 me-2" for="themeToggle">
                    <input id="themeToggle" class="toggle-checkbox" type="checkbox" aria-label="Toggle theme settings" />
                    <div class="toggle-slot">
                        <div class="sun-icon-wrapper">
                            <div class="sun-icon fas fa-sun"></div>
                        </div>
                        <div class="toggle-button"></div>
                        <div class="moon-icon-wrapper">
                            <div class="moon-icon fas fa-moon"></div>
                        </div>
                    </div>
                </label>
                <button class="d-md-none btn btn-top-nav me-2 btn-announcements btn-announcement-notifications position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapsing-right-sidebar" aria-expanded="false" aria-controls="collapsing right sidebar"><span class="notification-badge d-none" title="You have unread notifications"></span><i class="fas fa-bullhorn"></i></button>
                @if (!ViewContext.RouteData.Values["Action"].Equals("ListPackages"))
                {
                    <button type="button" aria-label="Search packages" class="btn btn-top-nav btn-search me-2"><i class="fas fa-search" aria-hidden="true"></i></button>
                }
                <button type="button" class="navbar-toggler btn btn-top-nav me-3" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-expanded="false" aria-controls="navLinks" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
                <a class="btn btn-primary d-none d-md-block me-3" href="@Url.RouteUrl(RouteName.Install)">Install Now</a>
                @if (!ViewContext.RouteData.Values["Action"].Equals("ListPackages"))
                {
                    @Html.Partial("~/Views/Shared/_SearchBox.cshtml")
                }
            </div>
            <div class="collapse navbar-collapse flex-grow-1 order-2 order-xl-1 mb-n2 mb-md-0 d-none d-md-flex w-auto py-2 py-xl-0 mt-xl-0" id="topNavCollapse">
                <ul class="navbar-nav mx-auto me-xl-0">
                    @Html.Partial("~/Views/Shared/_TopNavigationLinks.cshtml")
                </ul>
            </div>
        </div>
    </nav>
    <div class="navbar-nested-collapse mt-xl-0">
        @Html.Partial("~/Views/Shared/_TopNavigationCollapse.cshtml")
    </div>
</header>