@{
    Layout = "_BaseLayout.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}
@section ExtraHeaders
{
    @RenderSection("ExtraHeaders", required: false)
}
@section TopScripts
{
    @RenderSection("TopScripts", required: false)
}

<body class="chocolatey-org">
    <script type="text/javascript" src="https://secure.make6pain.com/js/194108.js"></script>
    <noscript><img alt="" src="https://secure.make6pain.com/194108.png" style="display:none;" /></noscript>

    @Html.Partial("~/Views/Shared/_Loader.cshtml")
    @Html.Partial("~/Views/Shared/_TopNavigation.cshtml")
    <main class="mb-auto my-md-auto">
        @Html.Partial("~/Views/Shared/_Modals.cshtml")
        <section class="container py-3 py-md-5">
            <div class="row">
                <div class="col-sm-9 col-lg-6 m-auto">
                    <div class="card card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        @Html.Partial("~/Views/Shared/_CopyrightNavigation.cshtml")
    </footer>
    @RenderPage("_CookiePolicy.cshtml")

    @Bundles.RenderStylesheets("bottom")
    @Bundles.RenderScripts()

    @RenderSection("BottomScripts", required: false)
</body>