@{
    ViewBag.Title = "Partnership";
    Bundles.Reference("content/css/chocolatey.bundle.min.css");
    Bundles.Reference("Scripts/main");
}

<div class="bg-theme-primary">
    <section class="py-3 py-lg-5">
        <div class="container text-center">
            <h1 class="display-3">Chocolatey Partner Ecosystem</h1>
            <h1>Help your customers. Enhance your solutions. <br class="d-lg-block" />Drive new revenue streams.</h1>
            <a class="btn btn-lg btn-theme mt-3" href="@Url.RouteUrl(RouteName.ContactPartner)">Become a Partner</a>
        </div>
    </section>
    <div class="curve curve-bottom curve-bg-theme"></div>
</div>
<section id="network" class="pb-3 pb-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Solution Provider Program</h2>
                <hr class="border-hr" />
                <p>Chocolatey's Partner Network offers resources, support and training to differentiate your business from your competition and increase your profitability with new revenue streams.</p>
                <p>Solution Providers use their technical skills and market knowledge to resell Chocolatey for Business, either as part of an existing Windows project or an IT automation solution. Partnering with Chocolatey will mark you as a market leader in modern Windows automation and DevOps.</p>
                <ul>
                    <li><strong>Referral</strong> - Simply engage with our sales team to inform us of customers interested in Chocolatey and we will offer you an attractive referral fee for any customers that purchase Chocolatey for Business.</li>
                    <li><strong>Silver</strong> - Receive an attractive discount by signing up to our partner program. Register your opportunities, undertake training and work with us on driving new business. At least one Chocolatey trained professional required.</li>
                    <li><strong>Gold</strong> - Receive an increased discount over our Silver level. Work with us on a business plan in return for leads and marketing support. At least two Chocolatey trained professionals required.</li>
                </ul>
            </div>
            <div class="col-lg-6 text-center">
                <div class="card w-75 mx-auto">
                    <div class="card-body">
                        <img class="rounded-circle border text-center mt-n5" width="100" src="/content/images/team/mukesh-sq.jpg" alt="Mukesh Sharma, COO of Chocolatey" title="Mukesh Sharma, COO of Chocolatey" />
                        <h3 class="mt-2 mb-0 text-primary"><small>Mukesh Sharma</small></h3>
                        <p><small><i>COO of Chocolatey</i></small></p>
                        <q class="mb-0">Our goal is to support you with training and and sales support to give you the resources needed to deliver automation solutions to your customers.</q>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="technology" class="py-3 py-lg-5 bg-theme-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <ul class="nav nav-pills pb-3 justify-content-center nav-pills-list" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link py-0 active" id="partner-workflow-tab" data-bs-toggle="pill" href="#partner-workflow" role="tab" aria-controls="partner-workflow" aria-selected="true"><small class="fw-bold">Deployment & Workflow</small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" id="partner-repositories-tab" data-bs-toggle="pill" href="#partner-repositories" role="tab" aria-controls="partner-repositories" aria-selected="false"><small class="fw-bold">Repositories</small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" id="partner-pipelines-tab" data-bs-toggle="pill" href="#partner-pipelines" role="tab" aria-controls="partner-pipelines" aria-selected="false"><small class="fw-bold">Pipelines</small></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-0" id="partner-environments-tab" data-bs-toggle="pill" href="#partner-environments" role="tab" aria-controls="partner-environments" aria-selected="false"><small class="fw-bold">Environments</small></a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="partner-workflow" role="tabpanel" aria-labelledby="partner-workflow-tab">
                        <div class="row text-center align-items-center justify-content-center">
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://puppet.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img src="@Url.Content("~/content/images/businesses/Puppet-Dark.png")" alt="Puppet" title="Puppet" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://chef.io" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img src="@Url.Content("~/content/images/businesses/Chef-Dark.png")" alt="Chef Software" title="Chef Software" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.ansible.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="h-100" src="@Url.Content("~/content/images/businesses/Ansible-red-sm.png")" alt="Ansible" title="Ansible" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.saltstack.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img src="@Url.Content("~/content/images/businesses/Saltstack-sm.png")" alt="SaltStack" title="SaltStack" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://inedo.com/otter" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img src="@Url.Content("~/content/images/businesses/Otter-sm.png")" alt="Otter" title="Otter" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <div class="ratio ratio-16x9">
                                    <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                        <img class="h-100" src="@Url.Content("~/content/images/businesses/Powershell-sm.png")" alt="Microsoft Powershell DSC" title="Microsoft Powershell DSC" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://octopus.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img src="@Url.Content("~/content/images/businesses/OctopusDeploy-Dark-sm.png")" alt="Octopus Deploy" title="Octopus Deploy" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://boxstarter.org" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="h-100" src="@Url.Content("~/content/images/businesses/Boxstarter-sm.png")" alt="Boxstarter" title="Boxstarter" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.ivanti.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img src="@Url.Content("~/content/images/businesses/ivanti-sm.png")" alt="ivanti" title="ivanti" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.microsoft.com/en-us/cloud-platform/system-center-configuration-manager" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="h-100" src="@Url.Content("~/content/images/businesses/Microsoft-SCCM-sm.jpg")" alt="Microsoft SCCM" title="Microsoft SCCM" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="partner-repositories" role="tabpanel" aria-labelledby="partner-repositories-tab">
                        <div class="row text-center align-items-center justify-content-center">
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://jfrog.com/artifactory" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Artifactory-sm.png")" alt="Artifactory" title="Artifactory" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.sonatype.com/nexus-repository-sonatype" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy h-100" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Nexus-sm.png")" alt="Nexus" title="Nexus" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://inedo.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Inedo-sm.png")" alt="Inedo" title="Inedo" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.myget.org" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/MyGet-Blue-sm.png")" alt="MyGet" title="MyGet" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.nuget.org" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/NuGet-sm.png")" alt="NuGet" title="NuGet" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="partner-pipelines" role="tabpanel" aria-labelledby="partner-pipelines-tab">
                        <div class="row text-center align-items-center justify-content-center">
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://jenkins.io" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Jenkins-sm.png")" alt="Jenkins" title="Jenkins" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.jetbrains.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy h-100" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/JetBrains-sm.png")" alt="JetBrains TeamCity" title="JetBrains TeamCity" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://gitlab.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy h-100" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/GitLab-sm.png")" alt="GitLab" title="GitLab" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://github.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/GitHub-sm.png")" alt="GitHub" title="GitHub" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="partner-environments" role="tabpanel" aria-labelledby="partner-environments-tab">
                        <div class="row text-center align-items-center justify-content-center">
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.vmware.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/VMware-sm.png")" alt="VMware" title="VMware" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://aws.amazon.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy h-100" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/AWS-sm.png")" alt="AWS" title="AWS" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://azure.microsoft.com/en-us/" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Azure-sm.png")" alt="Azure" title="Azure" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://cloud.google.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy h-100" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/GoogleCloudPlatform-sm.png")" alt="Google Cloud Platform (GCP)" title="Google Cloud Platform (GCP)" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-lg-3 mb-3">
                                <a href="https://www.docker.com" rel="noreferrer" target="_blank">
                                    <div class="ratio ratio-16x9">
                                        <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                            <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Docker-sm.png")" alt="Docker" title="Docker" />
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Technology Alliances</h2>
                <hr class="border-hr" />
                <p>Chocolatey integrates with leading configuration managers and automation solutions such as Puppet, Chef, Microsoft SCCM, and Ansible (Red Hat).</p>
                <p>Our customers are keen to extend their usage and compatibility with other leading technology offerings.  We are keen to work with other leading software vendors to build joint solutions to help customers simplify and automate their Windows experience.</p>
                <a class="btn btn-primary" href="@Url.RouteUrl(RouteName.ContactPartner)">Become a Partner</a>
            </div>
        </div>
    </div>
</section>
<section id="resellers" class="py-3 py-lg-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2>Value Added Resellers</h2>
                <hr class="border-hr" />
                <p>Value Added Resellers (VARs) offer Chocolatey as part of their IT practices and help customers simplify the purchasing process. Chocolatey’s partner program supports VARs as look they help their customers automate their Windows environments.</p>
            </div>
            <div class="col-lg-6 text-center">
                <div class="row text-center align-items-center justify-content-center">
                    <div class="col-6 col-lg-3 mb-3">
                        <a href="https://puppet.com" rel="noreferrer" target="_blank">
                            <div class="ratio ratio-16x9">
                                <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                    <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Puppet-Dark.png")" alt="Puppet" title="Puppet" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <a href="https://www.shi.com" rel="noreferrer" target="_blank">
                            <div class="ratio ratio-16x9">
                                <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                    <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/SHI-sm.png")" alt="SHI" title="SHI" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <a href="https://www.insight.com" rel="noreferrer" target="_blank">
                            <div class="ratio ratio-16x9">
                                <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                    <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Insight-sm.png")" alt="Insight" title="Insight" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <a href="http://www.pcm.com" rel="noreferrer" target="_blank">
                            <div class="ratio ratio-16x9">
                                <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                    <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/PCM-sm.png")" alt="PCM" title="PCM" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <a href="https://shadow-soft.com" rel="noreferrer" target="_blank">
                            <div class="ratio ratio-16x9">
                                <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                    <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Shadowsoft-sm.png")" alt="Shadow-Soft" title="Shadow-Soft" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <a href="https://www.betis.com" rel="noreferrer" target="_blank">
                            <div class="ratio ratio-16x9">
                                <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                    <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Betis-Group-sm.jpg")" alt="Betis Direct" title="Betis Direct" />
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 mb-3">
                        <a href="https://www.buyitdirect.co.uk" rel="noreferrer" target="_blank">
                            <div class="ratio ratio-16x9">
                                <div class="d-flex flex-fill align-items-center justify-content-center p-3 bg-light border">
                                    <img class="lazy" src="@Links.Content.Images.blankImage" data-src="@Url.Content("~/content/images/businesses/Buyitdirect-sm.jpg")" alt="Buyitdirect" title="Buyitdirect" />
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>