@model IEnumerable<ResourceViewModel>
@{
    Layout = "~/Views/Shared/NewsletterLayout.cshtml";
    ViewBag.Title = "Case Studies";
    Bundles.Reference("content/css/chocolatey.bundle.min.css");
    Bundles.Reference("Scripts/main");
}

@section ExtraHeaders {
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}

@Html.Partial("~/Views/Shared/_ResourceSubNavigation.cshtml")
<section class="py-3 py-lg-5">
    <div class="container">
        @Html.Partial("~/Views/Resources/_BreadCrumbs.cshtml")
        <div class="row card-row">
            @foreach (var post in @Model)
            {
                if (post.Type.Contains("Case Study"))
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <a class="text-reset" href="@Url.RouteUrl(RouteName.ResourceName, new { resourceType= "case-studies", resourceName = post.UrlPath })">
                            <div class="card h-100 card-body p-0">
                                <div class="bg-medium-light fw-bold text-center px-3 py-2">
                                    <span class="fas fa-briefcase" alt="Chocolatey for Business Feature Video Series"></span>
                                    <span>@post.Type</span>
                                </div>
                                @Html.Raw(post.Image)
                                <div class="d-flex flex-fill align-items-center justify-content-center text-center p-3">
                                    <h5 class="mb-0 link-primary">@post.Title</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>